@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-select {
  appearance: none;
  border-radius: none;
  appearance: none;
  background-image: url("/down-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 1.19rem center;
  cursor: pointer;
}

select::-ms-expand {
  display: none; /* Hide the default arrow in Internet Explorer 10 and Internet Explorer 11 */
}
.custom-select option {
  -webkit-appearance: none;
  appearance: none;
  background: #C3C3C3;
  border-radius: none;
  height: 100px;
  
}

.custom-select option:hover {
  background-color: yellow !important;
}

input[type="radio"] {
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;
  /* Not removed via appearance */
  margin: 0;

  font: inherit;
  color: #f70087;
  width: 2em;
  height: 2em;
  border: 0.2em solid #5b5b5b;
  border-radius: 50%;

  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type="radio"]:checked {
  border: 0.2em solid #f70087;
}

input[type="radio"]::before {
  content: "";
  width: 1.2em;
  height: 1.2em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #f70087;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

input[type="range"] {
  appearance: none;
  outline: none;
  height: 0.5rem;
  background: #c3c3c3;
  /* overflow: hidden; */
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: #f70087;
  cursor: pointer;
}

/* select::after {
  border: 1px solid red;
} */

.liner {
  border: 1px solid red;
}

.liner-blue {
  border: 2px solid blue;
}

.table-data {
  color: #000;
  font-size: 1rem;
  font-weight: 400;
  padding: 1rem 1.5rem;
}
